
<div id="all" >
<div id="header" >ניהול משימות</div>
<div id="context">
<form name="form" (ngSubmit)="add(formAdd)" #formAdd="ngForm">
<input type="text" name="text" id="text" [(ngModel)]="task" #text="ngModel" minlength="3"required (keyup)="clearAdd()">
    <input type="submit" value="הוספה">
  <div *ngIf="(text.errors&&(submitAdd||text.touched||text.dirty))">
     <div [hidden]="!text.invalid" class="error" >לא ניתן להוסיף משימה שאורך הטקסט בה קטן מ - 3</div>
</div> 
<div *ngIf="submitAdd">
  <div *ngIf="errMore5" class="error" >לא ניתן להוסיף יותר מ - 5 משימות</div>
  <div *ngIf="errTwice" class="error" >לא ניתן להוסיף אותה משימה פעמים</div>
</div>
</form>
<div *ngIf="flagUpdate">
<p>עריכת משימה</p>
<form name="formupdate" (ngSubmit)="saveUpdate(formUpdate)" #formUpdate="ngForm">
  <input type="text" name="textUpdate" id="textUpdate" [(ngModel)]="updateTask" #textUpdate="ngModel" minlength="3"required (keyup)="clearUpdate()">
      <input type="submit" value="עדכון">
      <input type="button" value="ביטול" (click)="cancel()">
    <div *ngIf="(textUpdate.errors&&(submitUpdate||textUpdate.touched||textUpdate.dirty))">
      <div [hidden]="!textUpdate.invalid" class="error" >לא ניתן להוסיף משימה שאורך הטקסט בה קטן מ - 3</div>
  </div> 
  <div *ngIf="submitUpdate">
    <div *ngIf="errMore5" class="error" >לא ניתן להוסיף יותר מ - 5 משימות</div>
    <div *ngIf="errTwice" class="error" >לא ניתן להוסיף אותה משימה פעמים</div>
  </div>
  </form>
</div>
<p>רשימת משימות</p>
<table id="table" *ngIf="list" >
  <tr id="tr" *ngFor="let item of list; let index=index" >
     <td>{{item}}</td> 
     <td (click)="delete(index)">{{index + 1}}</td> 
     <td><button style="width: 100%;" (click)="update(index)">עריכה</button></td>
  </tr>
</table>

</div>
</div>